.poker-game-types{padding:25px 0;margin-bottom:20px;background-color:rgba(9,23,71,.45)}.poker-game-types ul{display:flex;margin:0}.poker-game-types ul li{flex:1;display:flex;flex-direction:column;align-items:center}.poker-game-types ul li p{font-size:16px;margin:10px 0 0;color:#fff}